<h1>Hauptmenü</h1>
<%= link_to "Etikettierung", stickers_path, :class => "button" %>
<%= link_to "Kommissionierung", commissions_path, :class => "button" %>
<%= link_to "Korrektur", "#", :class => "button" %>

